<a href="/" class="link-header">
    <header class="header">
        <h1>Cadastrar Receita</h1>
    </header>
</a>

<div class="container">
    <form (submit)="false">
        <div class="campo-form">
            <label class="label-campo" for="nome">Nome da Receita</label>
            <input 
                class="input-nome" 
                type="text" 
                id="nome" 
                name="nome"
                required
                maxLength=200
                [(ngModel)]="receita.titulo"
                [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="campo-form">
            <label class="label-campo" for="imagem">Imagem da Receita</label>
            <ckeditor
                class="input-imagem"
                [(ngModel)]="receita.imagem"  
                [ngModelOptions]="{standalone: true}"
                [editor]="Editor"  
                [config]="{ 
                toolbar: [ 'uploadImage' ,'|', 'undo', 'redo'],
                language: 'pt-br'    
                }">
            </ckeditor>
        </div>
        <div class="campo-form">
            <label class="label-campo" for="imagem">Descrição da Receita</label>
            <ckeditor 
            [editor]="Editor"
            [(ngModel)]="receita.descricao"
            [ngModelOptions]="{standalone: true}"
            [config]="{ 
            toolbar: ['heading', 
                    '|', 'alignment', 'fontSize', 'fontColor', 
                    '|', 'bold', 'italic', 'underline', 'link', 
                    '|', 'numberedList', 'bulletedList', 
                    '|', 'undo', 'redo'
                    ],
            language: 'pt-br'    
            }">
            </ckeditor>
        </div>

        <button class="botao-cadastrar" (click)="cadastrarReceita()">Cadastrar Receita</button>

    </form>
</div>