<a href="/" class="link-header">
    <header class="header">
        <h1>Receitas Salvas</h1>
    </header>
</a>

<ul class="lista-receita">
    <li class="item-receita" *ngFor="let receita of receitas" >
            <div *ngIf="receita.imagem" class="container-receita">
                <a routerLink="/receita/{{receita.id}}">
                    <img src="{{receita.imagem}}" alt="" class="imagem-receita">
                </a>
                <span class="titulo-receita">{{receita.titulo}}</span>
            </div>
    </li>
</ul>